<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HOME_ITEM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MustSoon</display-name>
    <servlet-name>MustSoon</servlet-name>
    <servlet-class>web_page.MustSoon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MustSoon</servlet-name>
    <url-pattern>/MustSoon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Kaitashi</display-name>
    <servlet-name>Kaitashi</servlet-name>
    <servlet-class>web_page.Kaitashi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaitashi</servlet-name>
    <url-pattern>/Kaitashi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Zaiko</display-name>
    <servlet-name>Zaiko</servlet-name>
    <servlet-class>web_page.Zaiko</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Zaiko</servlet-name>
    <url-pattern>/Zaiko</url-pattern>
  </servlet-mapping>
</web-app>